.navbar{
    /* background: linear-gradient(90deg,#69BE33 , #0B8ECD) !important; */
    background: linear-gradient(to right, #2E8A99, #4fa4b1,#2E8A99, #4fa4b1, #2E8A99);
    padding: 8px 20px;
    padding-bottom: 35px;
    z-index: 10 !important;
}
.subnav2{

    background-color: #FFEEA9;
    border: solid 2px #fdcf97;
    
  
    position: relative !important;
    z-index: 10 !important;
}
#signoutbox{
    z-index: 100 !important;
}

.darkOrange{
    color: #EF7701;
}.darkOrange:hover{
    color: #EF7701;
}


.btnn:hover{
    transform: scale(1.2);

}
.nav-img{
    width: 14% ;
    
} 
.nav-image{
    max-width: 60%;
    max-height: 80px !important;
}
@media (max-width: 768px) {
    .navbar{
        padding: 5px 8px;
    }
    .nav-image{
        width: 100%;
    }
}

.highz{
    z-index: 9999;
}

:hover .btnn{
  /* background-color: ; */
}

/* @media (max-width: 520px) {
    .nav-img{
        width: 100% ;
    } 
    .nav-image{
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }
    .title{
        text-align: left !important;
    }
} */
