.navbar{
    /* background: linear-gradient(90deg,#69BE33 , #0B8ECD) !important; */
    background: linear-gradient(to right, #2E8A99, #4fa4b1,#2E8A99, #4fa4b1, #2E8A99);
    
    padding: 8px 20px;
    padding-bottom: 35px;
    z-index: 10 !important;
}
.subnav2{

    background: linear-gradient(to right, #b9e0b9,#c6e7c6,#b9e0b9, #c6e7c6,#b9e0b9);
    background: linear-gradient(to right, rgb(250, 250, 250), rgb(247, 247, 247), rgb(250, 250, 250), rgb(247, 247, 247), rgb(250, 250, 250)); 

    /* border: solid 2px #fdcf97; */
    
  
    position: relative !important;
    z-index: 10 !important;
}
#signoutbox{
    z-index: 100 !important;
}

.darkOrange{
    color: #4fa4b1;
}

.darkBlue{
    color: #2E8A99;
}

.bgback{
    background-color: #4fa4b1;
}


.btnn:focus {
    outline: none;
  }


.nav-img{
    width: 14% ;
    
} 
.nav-image{
    max-width: 60%;
    max-height: 80px !important;
}
@media (max-width: 768px) {
    .navbar{
        padding: 5px 8px;
    }
    .nav-image{
        width: 100%;
    }
    .subnav2{
        background: transparent !important;
    
        border: none;
        
    }
}


.highz{
    z-index: 9999;
}


/* @media (max-width: 520px) {
    .nav-img{
        width: 100% ;
    } 
    .nav-image{
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }
    .title{
        text-align: left !important;
    }
} */
@keyframes slideIn {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(0); /* End at its normal position */
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0); /* Start at its normal position */
    }
    100% {
      transform: translateX(100%); /* Slide out to the right */
    }
  }
  
  .sidebar {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }
  
  .sidebar.slide-in {
    animation-name: slideIn;
  }
  
  .sidebar.slide-out {
    animation-name: slideOut;
  }
  